extends txteqn

snippet '' "unicode “quotes”"
“${VISUAL}$0”
endsnippet

snippet ,, "unicode „quotes“"
„${VISUAL}$0“
endsnippet

snippet << "unicode «quotes»"
«${VISUAL}$0»
endsnippet

snippet today "current date" i
`date +%d.%m.%y`
endsnippet

